.jumbotron {
  padding-top: 6rem;
}
.btn {
  width: 150px;
  height: 50px;
}
.p_about {
  text-align: justify;
  margin-top: 2rem;
}
section {
  padding-top: 5rem;
}
.home_title {
  font-size: 2.5rem;
}

body {
  background-color: rgb(235, 235, 235);
}
.background {
  background-color: #151b54;
}
.bg-instagram {
  background: rgb(149, 0, 255);
    background: linear-gradient(90deg, rgba(149, 0, 255, 1) 0%, rgba(178, 10, 196, 1) 0%, rgba(255, 0, 254, 1) 0%, rgba(255, 38, 38, 1) 100%);
}
.bg-whatsapp {
  background-color: #128C7E;
}
.navbar-color,
.footer-color{
  background-color: #151b54;
}